
/*Header*/
header{
    max-height: 90px;
    padding: 13px 0;
}
.h-section{
    display: flex;
    justify-content: left;
    vertical-align: text-bottom;
}
.tag-line{
    margin-top: 31px;
    text-transform: uppercase;
    color: #001e5a;
}
.check-items li {
    list-style: none;
}
.check-items li .fa{
    color: #3e9d03;
}
.check-items .desc{
    color: #001c63;
}


/*Set Font Face Gotham*/
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/GothamRnd-Book.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/GothamRnd-Bold.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/GothamRnd-Medium.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/GothamRnd-Light.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/GothamRnd-BookIta.otf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/GothamRnd-BoldIta.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/GothamRnd-MedIta.otf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham';
    src: url(../fonts/GothamRnd-LightIta.otf);
    font-weight: 300;
    font-style: italic;
}